@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@100&display=swap');

body {
  background-color: #F1EDE5;
  font-family: 'Montserrat';
  font-weight: 300;
}


.bg-danger{
  background-color: #AE1913 !important;

}

nav{
  background-color: white
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat';
  }



h5{
  margin-top: 30px
}

#footer{
  color: white;
  font-family: "Montserrat", lighter;
  font-size: 12px;
  line-height: 1.2;
  align-items: center;
}

.cheese{
  color: ;
}

.details{
  padding-top: 50px;
  font-size: 12px;

}

.button1{
  width: 265px;
}

.button2{
  width: 300px;
}

.itemdetails{
  padding-top: 50px;
}

.headerbody{
  font-weight: lighter;
  font-size: 20px
}

.Header{
  padding-top: 50px;
}

.exclusive {
  height: 25px;
  width: 250px;
}
